<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul class="error-messages">
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id, placeholder: "Enter user ID" %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name,  placeholder: "Enter user name" %>
  </div>

  <div>
    <%= form.label :bio, style: "display: block" %>
    <%= form.textarea :bio,  placeholder: "About user ..."  %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.select :role, User.roles.keys.map { |role| [role.titleize, role] }, {}, { style: "width: 100%" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
